# ── Corpus ────────────────────────────────────────────────────────────────────
wikipedia-api==0.7.1

# ── Retriever ─────────────────────────────────────────────────────────────────
scikit-learn==1.4.2
numpy==1.26.4
sentence-transformers==3.0.1
torch==2.3.0

# ── Extractive e Abstractive QA ─────────────────────────────────────────────────────────────
transformers==4.41.2
datasets==2.19.2
accelerate==0.30.0
evaluate==0.4.2